* @sathishp-eGov @pradeepkumarcm-egov @GhanshyamRawat-eGov @shailesh-egov
core/ @sathishp-eGov @GhanshyamRawat-eGov	@pradeepkumarcm-egov
reference-adapter/ @sathishp-eGov @GhanshyamRawat-eGov @pradeepkumarcm-egov
domain-services/ @sathishp-eGov @GhanshyamRawat-eGov @pradeepkumarcm-egov
utilities/ @sathishp-eGov @pradeepkumarcm-egov
frontend/micro-ui/ @jagankumar-egov
